<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix="Heart & Seoul">
      <span :if={assigns[:page_title]}><%= assigns[:page_title] %></span>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white">
    <%= if @current_member do %>
      <ul class="relative z-10 flex items-center gap-4 px-4 py-2 sm:px-6 lg:px-8 justify-end border-b border-zinc-300">
        <%!-- <%= if @current_member do %> --%>
        <li class="flex-grow">
          <.link href="/">
            <.brand id="app-brand-head" size="md" />
          </.link>
        </li>
        <%!-- <li class="text-[0.8125rem] leading-6 text-zinc-900">
          <%= @current_member.email %>
        </li> --%>
        <li>
          <.link
            href={~p"/account/profile"}
            class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
          >
            Profile
          </.link>
        </li>
        <li>
          <.link
            href={~p"/account/settings"}
            class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
          >
            Settings
          </.link>
        </li>
        <li>
          <.link
            href={~p"/account/log_out"}
            method="delete"
            class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
          >
            Log out
          </.link>
        </li>
        <%!-- <% else %>
        <li class="flex-grow">
          <.link href="/">
            <.brand id="app-brand-head" size="md" />
          </.link>
        </li>
        <li>
          <.link
            href={~p"/account/register"}
            class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
          >
            Register
          </.link>
        </li>
        <li>
          <.link
            href={~p"/account/log_in"}
            class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
          >
            Log in
          </.link>
        </li> --%>
        <%!-- <% end %> --%>
      </ul>
    <% end %>
    <%= @inner_content %>
  </body>
</html>
